
@font-face {
    font-family:UVNSaigon_0;
    src: url(../fonts/UVNSaigon_0.woff);
    url('../fonts/UVNSaigon_0.woff2?v=4.3.0') format('woff2'),
    url('../fonts/UVNSaigon_0.woff?v=4.3.0') format('woff'),
    url('../fonts/UVNSaigon_0.ttf?v=4.3.0') format('truetype'),
    url('../fonts/UVNSaigon_0.svg?v=4.3.0#fontawesomeregular') format('svg');
}
/*dung chung ----->*/

.header-top{
    border-top: 2px solid #6ab43e;
    background: #333;
}
.address-top li{
    color: #fff;
    list-style: none;
    float:left;
    padding:0px 13px;
}
.address-top{
    padding-top: 10px;
}

.address-top li:first-child{
    padding-left: 0px;
}
.address-top li i{
    color: #6ab43e;
    margin-right: 6px;
}
.address-top li a{
    color: #fff;
}
.social li{
    list-style: none;
    float: left;
    font-size: 13px;
    padding:10px 15px 0px 16px;
}
.social li:last-child{
    padding: 0px;
}
.social li a{
    color: #fff;
}

.form-search input{
    color: #fff;
    border-color:#6ab43e;
    background: #6ab43e url("../img/icon-search.png")no-repeat right center;
    background-position: 95% 50%;
}  
.form-search input::-moz-placeholder { /* Chrome 21 */
    color: #fff;
}
.form-search input::-webkit-input-placeholder { /* Chrome 21 */
    color: #fff;
}
.form-search input::-ms-input-placeholder { /* Chrome 21 */
    color: #fff;
}
.name-cty{
    margin-left: -60px;
    padding-top: 15px;
}
.name-cty a{
    font-family:UVNSaigon_0;
    color: #333;
    font-size: 24px;

}
.color-cty{
    color:#6ab43e;
}
#menu-main{
    padding: 10px 0px;
}
.menu_main {
    padding-top: 15px;
}
.menu .active{
    border-radius: 20px;
    background:#6ab43e;
}
.menu .active a{
    color: #fff;
}
.menu .active a:hover{
    color: #fff;
}
.menu>li:hover{
    border-radius: 20px;
    background:#6ab43e;
}
.menu>li:hover a{
    color: #fff;
}
.nav-dropdown{
    margin-top: 1px;
}
.nav-dropdown li:hover{
    border-radius: 0px;
    /*background:#6ab43e;*/
}
.slider-main{
    z-index: 5;
}
.title-intro{
    text-align: center;
    font-size: 41px;
    color: #6ab43e;
    font-weight: bold;
    text-transform: uppercase;
}
.dcs-intro{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 30px 0px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}
.intro-botton{
    margin-top: 15px;
    text-align: center;
}
.view-more {
    font-size: 12px;
    margin: auto;
    padding: 8px 15px;
    border: 1px solid #6ab43e;
    color: #6ab43e;
}
.view-more:hover{
    background:#6ab43e ;
    color: #ffff00;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    transition:.5s;
}
.view-more-icon{
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 50px;
    height: 50px;
    margin: auto;
    border: 5px solid rgba(106, 180, 62, 0.5);
}
.view-more-icon .icon-dow{
    padding: 12px;
    color: #fff;
    background: #6ab43e;
}
.view-more-icon:hover{
    -webkit-transition:.8s;
    -moz-transition:.8s;
    transition:.8s;
    border: 5px solid rgba(106, 180, 62, 0.5);
}

.icon-dow i{
    padding-left: 3px;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.title-category a{
    font-size: 18px;
    color: #6ab43e;
    text-transform: uppercase;
    font-weight: bold;
}
.title-category{
    padding-bottom: 10px;
    background: url("../img/border-title.png")repeat-x bottom ;
}
.box-category{
    margin-top: 10px;
}




.da-thumbs {
    position: relative;
}
.da-thumbs .list-li {
    position: relative;
    margin-bottom:10px;
}
.da-thumbs .list-li .name-prod{
    text-align: center;
    margin-top:10px;
    height: 50px;
    overflow: hidden;
}
.da-thumbs .list-li .name-prod a{
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.date{
    margin-top: 7px;
    font-size: 14px;
    color: #333;
}
.da-thumbs .list-li a,
.da-thumbs .list-li a img {
    display: block;
    position: relative;
}
.da-thumbs .list-li a {
    overflow: hidden;
}
.da-thumbs .list-li a{
    cursor: context-menu;
}
.da-thumbs .list-li a div {
    position: absolute;
    background: rgba(106, 180, 62, 0.7);
    width: 100%;
    height: 100%;
}
.da-thumbs .list-li a div span {
    display: block;
    padding: 9px 0;
    margin: 25px 20px 10px 20px;
    font-size: 14px;
    color: rgba(255,255,255,0.99);
}
.da-thumbs .list-li a div p{
    color: rgba(255,255,255,0.99);
    padding: 0 20px;
    line-height: 1.3;
}
.da-thumbs .list-li a div p span {
    display: block;
    padding: 8px 0;
    margin: 40px auto 10px;
    font-size: 13px;
    background-color: #fff;
    width: 110px;
    color: #00a68d;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.da-thumbs .list-li a div p span:hover{
    background:#fff;
    color: #6ab43e;
    cursor: pointer;
}
.da-thumbs .list-li a div {
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    min-height:195px;
}
.da-thumbs .list-li a:hover div{
    left: 0;
}

.box-caption{
    display: block;
    left: 100%;
    top: 0px;
    transition: all 300ms ease;
}

.box-news-detail{
    position: relative;
}
.caption-news{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom:0px;
    left: 0px;
    padding:10px;
    width: 100%;
}
.caption-news a{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 22px;
}
.caption-news a:hover{
    color: #6ab43e;
}
.name-news a{
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color:#333;
}
.name-news{
    margin-bottom:5px;
}
.name-news a:hover{
    color: #6ab43e;
}
.date-news{
    color: #666666;
}
.list-news li{
    padding-bottom: 15px;
    list-style: none;
}
.name-video{
    margin-top: 15px;
}
.name-video a{
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.box-video li {
    list-style: none;
    padding-bottom: 25px;
}
.name-video a:hover{
    color: #6ab43e;
}
/*end article ----->*/
.slider-dt .item img{
    width: auto;
    max-width: 100%;
}


.footer-center{
    background: #f4eff1;
    padding: 10px 0px 50px 0px;
}
.name-bottom{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #693d36;
    text-align: center;
    margin-left: -40px;
}
.dcs-name-bottom{
    color: #eebc32;
    font-size: 18px;
    text-align: center;
    margin-left: -40px;
}
.address-bottom{
    padding-top: 60px;
}
.address-item{
    margin-top: 5px;

}
.address-item a{
    color: #eebc32;
}
.address-item span{
    color: #686868;
}
.address-item li{
    list-style: none;
    font-size: 14px;
    color: #eebc32;
}
.share{
    margin-top: 5px;
}
.share a{
    font-size: 18px;
    color: #5f5a54;
    padding: 0px 7px;
}
.share a:hover{
    color: #eebc32;
}
.share a:first-child{
    padding-left: 0px;
}
.title-bottom{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.title-bottom a{
    color: #693d36;
    padding-bottom:15px;
    border-bottom: 1px solid #e5dee4;
}
.list-about{
    margin-top:25px;
}
.list-about li{
    list-style: none;
    padding: 5px 0px;
    font-size: 14px;
}
.list-about li a{
    color: #666666;
}
.list-about li a:hover{
    color: #eebc32;
    text-decoration: underline;
}
.form-group{
    margin-top: 35px;
}
.box-about{
    padding-top: 80px;
}
.scroll_top {
    background: url(../img/top.png)100% 100%;
    position: absolute;
    top: -75%;
    left: 45%;
    width: 126px;
    height: 38px;
    display: block;
    z-index: 10;
    cursor: pointer;
}

.scroll_top {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #eebc32;
}
.copyright-item {
    font-size: 14px;
    color: #5f5a56;
}
.copyright-item a{
    color:#eebc32;
}
.copyright-item a:hover{
    color:#eebc32;
    text-decoration: underline;
}
.copyright {
    position: relative;
    padding: 15px 0px;
    background: #e5e1de;
}